<% provide(:title, "About") %>





    <div class="center jumbotron" style="background: rgba(0, 0, 0, 0.3);
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 3em;
    width: 100%;
    z-index: 10000;">
    <h1></h1>
    <p>
      Passivehousedetails lets you upload and download Autocad, Revit and Vectorworks files as well as jpg, png previews, and write a short description. You can browse and download other peoples work as well. Additional features like following certain peoples activity and social media integration coming soon.
      <p style="color:#00caf5">maganeva@gmail.com</p>
      <p style="color:#00caf5">ganeviliyan@gmail.com</p>
    <!--   <p><a style="color:#00caf5" href="http://www.iliyanganev.com/">iliyanganev.com</a></p> -->
     
    </p>
  </div>
