<% provide(:title, "About") %>

    <div class="center jumbotron" style="background: rgba(0, 0, 0, 0);
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 13em;
    width: 100%;
    z-index: 10000;">
    <h1></h1>
    <p>
      Upload/Download Autocad, Revit and Vectorworks files.<br>
       Whitelisted file extentions are:<span style="color:#1fcaa7;"> <%=%w(dgn dwf dwg dst dwt dxb dws dxf ifc sat skp rvt adsk cas rfa rft rte rvg rvt slog smxx dwfx gbxm ies).join(', ') %>.</span><br>Allowed formats for preview images are: <span style="color:#1fcaa7"><%= %w(jpg jpeg gif png).join(', ') %>.</span>
    <!--   <p style="color:#00caf5;font-size: 16px">maganeva@gmail.com</p>
      <p style="color:#00caf5;font-size: 14px;">ganeviliyan@gmail.com</p> -->
    <!--   <p><a style="color:#00caf5" href="http://www.iliyanganev.com/">iliyanganev.com</a></p> -->
     
    </p>
  </div>
