<% provide(:title, 'Contact') %>



  <div class="center jumbotron" style="background: rgba(0, 0, 0, 0.3);
    left: 0;
    line-height: 3em;
    position: fixed;
    bottom: 1em;
    width: 100%;
    z-index: 10000;">
    <h1></h1>
    <p>
      <p style="color:#00b19d;">maganeva@gmail.com</p>
      <p style="color:#00b19d;font-size: 18px;">ganeviliyan@gmail.com</p>
    <!--   <p><a style="color:#00caf5" href="http://www.iliyanganev.com/">iliyanganev.com</a></p> -->
     
    </p>
  </div>