<% provide(:title, "Help") %>

     <%= render 'layouts/three' %> 

<div class="center jumbotron" style="background: rgba(0, 0, 0, 0);
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 5em;
    width: 100%;
    z-index: 10000;">
    <h1></h1>
    <p>
      Passivehousedetails lets you upload and download Autocad, Revit and Vectorworks files.<br> Upload preview image files and write descriptions.<br> Browse and download other peoples work.<br> Social media integration coming soon.
      
     
    </p>
  </div>


