<% provide(:title, 'All users') %>

<h1>All users</h1>



<%= will_paginate %>
<div class="center jumbotron" style="background: rgba(0, 0, 0, 0);margin-top: 0em;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 10000;">
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
        <% if current_user.admin? && !current_user?(user) %>
   		 		|||| <%= link_to "DELETE USER!!!", user, method: :delete,
                                  data: { confirm: "You sure?" } %>||||
  			<% end %>
    </li>
  <% end %>
</ul>
</div>

<%= will_paginate %>

