<% provide(:title, @user.name) %>


<div class="row" style="margin-top: 5em;">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 style="color:white;">
        <%= @user.name %>
      <p style="font-size: 17px;color:#00b19d;">Posts:  <%= @user.microposts.count %> </p>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
   
      <ul class="microposts" style="list-style-type: none;margin-top: 2em;">
        <%= render @microposts %>
      </ul>
      <%= will_paginate @microposts %>

  </div>
</div>



