<div style="border: 1px solid #00b19d; padding:1em;">
<h1 style="color: #00b19d;"><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "post") %></span>
</div>